* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* PAGE 1 */
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#page1 video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

#overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

#content {
  position: relative;
  z-index: 2;
}

/* NAVBAR */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  z-index: 200;
}

.tag {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tag img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  padding: 2px;
  background-color: white;
}

.tag a {
  font-size: 28px;
  font-weight: 700;
}

.tag a span {
  color: #00ff1a;
}

.nav-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav-element a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.nav-element a:hover {
  color: rgb(0, 255, 26);
}

.login-btn {
  padding: 6px 12px;
  background: rgb(3, 225, 25);
  color: black !important;
  border: 3px solid rgba(14, 253, 14, 0.676);
  border-radius: 6px;
  font-weight: 800;
}

/* PAGE 2 */

#page2 img {
  height: 400px;
  width: 180px;
  object-fit: cover;
  border-radius: 10px;
}

/* PAGE 3 */
/* #page3 {
  height: 100vh;
  width: 100%;
  background-color: #211d71;
} */

/* HERO SECTION */
.hero {
  height: 100vh;
  padding-top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-tagline {
  color: #00e417;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero-heading {
  font-size: 70px;
  font-family: 'Inter', sans-serif;
  font-weight: 0;
}



.hero-desc {
  max-width: 880px;
  margin-top: 20px;
  font-size: 18px;
  color: #ddd;
}

.hero-buttons {
  margin-top: 35px;
  display: flex;
  gap: 20px;
}

.hero-primary {
  padding: 10px 28px;
  width: 220px;
  height: fit-content;
  background: #00e417;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid #00e417;
  text-decoration: none;
}

.hero-secondary {
  font-size: 20px;
  padding: 10px 28px;
  height: fit-content;
  width: 220px;
  border: 2px solid #00e417;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  text-decoration: none;
}

.hero-scroll{
    margin-top: 35px;
    margin-bottom: 10px;
}

.hero-scroll-text{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 8px;
}

.hero-mouse-body{
    width: 24px;
    height: 40px;
    border: 2px solid greenyellow;
    border-radius: 40px;
}

.hero-mouse-wheel{
    width: 2px;
    height: 8px;
    background-color: greenyellow;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
}

.mouse{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #page4 {
  height: 60vh;
  width: 100%;
  background: linear-gradient(
    135deg,
    #02000b,
    #10022f,
    #21065b
  );
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  padding-top: 60px;
} */

.hero-tag {
  color: #10a51f;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}